@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.unselectable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.offset-border::before {
  content: '';
  position: absolute;
  transform: translate(-2rem, -2rem);
  height: 26rem;
  width: 26rem;
  border: solid 1 black;
  border-width: 3px;
}

.offset-border::after {
  content: '';
  position: absolute;
  transform: translate(0rem, -24rem);
  height: 26rem;
  width: 26rem;
  border: solid 1 black;
  border-width: 3px;
}
